/* CSS declarations go here */

body {
    padding-top: 50px;
}

/*
.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row{
  overflow: hidden; 
}
*/

.row.events_list_item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.row.events_list_item a,.row.events_list_item a:hover,.row.events_list_item a:link,.row.events_list_item a:visited {
    color: inherit;
    text-decoration: none;
}

.tasks-item,.events_list_item {
    -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.75);
}
